.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name m
      .side-header__box__menu
        .side-header__box__menu__new-group
          = link_to '#' do
            .fa.fa-edit
        .side-header__box__menu__edit-user
          = link_to '#' do
            .fa.fa-cog
  .groups
    .group
      .group__group-name  n
      .group__latest-message まだメッセージがありません